#text-written {
    font-size: 1.5em;
    padding: 1em;
    border-style: solid;
}

.syllable {
    font-size: 3em;
    padding: 0.3em;
    cursor: default;
    float: left;
    width: auto;
}

#footer
{
    font-size: 0.8em;
    clear: both;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
